body{
    margin: 0;
    font-family: sans-serif;
    background-color: #000;
    color: #e2e2e2;
}
.intro{
    background-image: url(Fondo.png);
    background-size: 1300px;
    background-position: center;
    background-repeat: no-repeat;
    object-position: center;
    object-fit: cover;
}
.intro__bg{
    background-color: #0006;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.intro__pfp{
    width: 320px;
    margin-top: 20px;
    border-radius: 50%;
    border: 8px solid #aaa;
}
h1{
    font-size: 50px
}
.intro__desc{
    font-size: 20px;
    width: 400px;
    text-align: center;
}