body{
    margin: 0;
    font-family: sans-serif;
    background-color: #001;
    color: #e2e2e2;
}
/* PRESENTACIÓN */
.intro{
    background-image: url(Fondo.png);
    background-size: 1300px;
    background-position: center;
    background-repeat: no-repeat;
    object-position: center;
    object-fit: cover;
}
.intro__bg{
    background-color: #0006;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.intro__pfp{
    width: 300px;
    margin-top: 80px;
    border-radius: 50%;
    border: 8px solid #aaa;
}
h1{
    font-size: 55px;
    margin: 6px;
}
.intro__desc{
    font-size: 20px;
    width: 380px;
    text-wrap: pretty;
    text-align: center;
    margin-top: 5px;
}

.main{
    background-image: linear-gradient(#000, #6663);
}

/* NAVEGACIÓN */

.main__nav{
    background-color: #222;
    padding: 6px;
    position: sticky;
    top: 0;
}
.nav__list{
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 1%;
}
.list__item{
    width: 120px;
    font-size: 13px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    transition: background-color .3s, border-radius .3s, outline .3s;
}
.list__item:hover{
    background-color: #9999;
    border-radius: 50px;
    outline: 2px solid #9999;
}
.item--link{
    text-decoration: none;
    color: #e2e2e2;
}
.link--sign{
    width: 120px;
    font-size: 17px;
    background-color: #ccc;
    color: #000;
    border-radius: 50px;
}
.link--letter{
    color: #000;
}
/* DESCRIPCIÓN */
.nav__text{
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    text-align: justify;
    text-wrap: pretty;
}
